<body>
    <div id="content">
        <header>
        div {
            max-width: 1600px;
          }
          p {
            margin: 0 auto;
          }
          nav a {
            text-align: center;
            color: #537670;
          }
          #hero-msg h1, #hero-msg h4 {
            text-align: center;
          }
          .button-box {
            text-align: center;
          }
          main section {
            text-align: center;
          }
        #background{
          height: 725px;
        }
        body {
          background-color: #F6EEEA;
        }
        header{
          background-color: #946A5B;
        }
        nav a:hover{
          background-color: #FFD819;
        }
        .book, .join{
          background-color: #537670;
        }
        .book:hover, .join:hover{
          background-color: #FFD819;
        }
        #background{
          background-color: #946A5B;
        }
        .msg {
          background-color: #FFD819;
        }
        footer{
          background-color: #537670;
        }
        </footer>
    </div>
</body>